body{
    background: aqua;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 3;
    background-color: gainsboro;
}
img{
    box-shadow: 0 6px 8px 0 rgba(2,2,2,0.2);
    padding: 10px;
}
img:hover{
    border-radius: 140px;
}